<%= form_for @contact, html: { id: 'my_form' } do |f| %>
  <div class="col-md-4 col-md-offset-4">
    <div class ="form-group">
      <p class="text-muted"></p>
      <div class="right-inner-addon ">
        <button style="display:none" class="success btn btn-success"><span class="glyphicon glyphicon-ok"></span></button>
        <button style="display:none" class="fail btn btn-warning"><span class="glyphicon glyphicon-flash"></span></button>
      <%= f.text_field :name, class: 'form-control', placeholder: 'Name', required: true %>
      </div>
    </div>

    <div class ="form-group">
      <p class="text-muted"></p>
      <div class="right-inner-addon ">
        <button style="display:none" class="success btn btn-success"><span class="glyphicon glyphicon-ok"></span></button>
        <button style="display:none" class="fail btn btn-warning"><span class="glyphicon glyphicon-flash"></span></button>
      <%= f.email_field :email, class: 'form-control', placeholder: 'Email', required: true %>
      </div>
    </div>

    <div class ="form-group">
      <p class="text-muted"></p>
      <div class="right-inner-addon ">
        <button style="display:none" class="success btn btn-success"><span class="glyphicon glyphicon-ok"></span></button>
        <button style="display:none" class="fail btn btn-warning"><span class="glyphicon glyphicon-flash"></span></button>
      <%= f.url_field :url, class: 'form-control', placeholder: '(URL: http://mywebsite.com)', required: true %>
      </div>
    </div>

       
        <%= f.submit :'Analyze my website', class: "btn btn-primary btn-lg submission2"  %>
  <% end %>
</div>

