<%= form_for @report, url: contact_report_path, html: { multipart: true } do |f| %>
  <div class="form-group">
  <h1>Impression </h1>  
    <%= f.label :what, "What is it?" %>
    <%= f.text_area :what, class: 'form-control' %>
    <%= f.label :who, "Who is it about?" %>
    <%= f.text_area :who, class: 'form-control' %>
    <%= f.label :wiifm, "What's in it for me? " %>
    <%= f.text_area :wiifm, class: 'form-control' %>
    <%= f.label :whattodo, "What next?" %>
    <%= f.text_area :whattodo, class: 'form-control' %>
  </div>
  <div class="form-group">
    <h1>Mobile-Responsive</h1>  
    <%= f.label :mobile %>
    <%= f.select :mobile, ['yes', 'no'], class: 'form-control' %>
  </div>
  <div class="form-group">
    <h1>Speed</h1> 
    <%= f.label :speed %>
    <%= f.number_field :speed, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.submit "Generate Report", class: 'btn btn-primary' %>
  </div>
<% end %>

