<h3 class="bordered"><%= wicked_pdf_image_tag("close.png", size: "64x64")%> &nbsp; Your website loaded in <%= @speed %> seconds</h3>
              
  <p>Ooops! Your website took its sweet time to load. Why is this bad? 
  Nearly half of your visitors left your website faster than you can say "Check, please!".<br><br>
  Studies show that 40% of internet users abandon a website if it takes longer than 3 seconds to load and 
  a second delay increases customer disatisfaction by 16 %.
  </p>
  
<h3 class="bordered"><%= wicked_pdf_image_tag("chat.png", size: "64x64")%>  &nbsp; Ok, so what should I do?</h3>
    <p>Website speed is influenced by a lot of things. But here are some quick fixes you could 
    do right now to increase your speed dramatically.
    <br>
    <br>
    Some of them could sound fancy, but they're not really. 
  <br>
  <br>
    <p><%=link_to '1. Save all your images for the web', 'https://gtmetrix.com/optimize-images.html', target:"_blank"%> and help browsers render them faster.</p>
    <p><%=link_to '2. Minify', 'https://developers.google.com/speed/docs/insights/MinifyResources', target:"_blank"%> your html,css and javascript.</p>
    <p><%=link_to '3. Leverage browser caching.', 'https://gtmetrix.com/enable-gzip-compression.html', target:"_blank" %></p>
    <p>
    <p>
    <p>    
  </p>  