<%= stylesheet_link_tag 'http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css' %>
<%= stylesheet_link_tag 'http://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css' %>
<%= wicked_pdf_stylesheet_link_tag 'reports' %>

<div id="editor"></div>
<div class="report">
  <div class="col-md-6 col-md-offset-3">
    <% flash.each do |key, value| %>
      <%= content_tag :div,value, class: "alert alert-#{key}" %>
    <%end%> 
  </div>
  <div class ="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div class="jumbotron">
          <h2 class="text-center"> Website Check-up For <br> <%= @contact.url %></h2>
          <p class="text-center">Created <%=Time.now.strftime("%d/%m/%Y") %></p>
        </div>
      </div>  
    </div>
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        
<!----------------------------- First Impression-------------------------------->         
         <div class="">
          <h1 class="bordered">The 7 Seconds Test</h1>
          
          <p>Can I tell in less than 8 seconds what your webpage is, who it is about and most importantly
          <b>what's in it for me?</b> Ehm.. 
          could you while you visited <%= link_to 'our website', 'https://freecheckup.herokuapp.com/', target: "_blank"%>?<br><br>
          Hopefully you did because we put some special tought into that!<br><br>
          We live in the information age, and our attention span is a scarce resource - 
          everyone is trying to get it and studies show that our attention span is only around 8 seconds.
          </p>
            
            <h3 class="bordered"> <%= wicked_pdf_image_tag("search.png", size: "64x64")%> &nbsp; "What is it?"</h3>
             <p><%= @what %></p>
            <h3 class="bordered"> <%= wicked_pdf_image_tag("eye.png", size: "64x64")%> &nbsp; "Who or what is about?"</h3>
            <p><%= @who %></p>
            <h3 class="bordered"><%= wicked_pdf_image_tag("dolar.png", size: "64x64")%>&nbsp; "What's in it for me?"</h3>
            <p><%= @wiifm %></p>
            <h3 class="bordered"><%= wicked_pdf_image_tag("chat.png", size: "64x64")%> &nbsp; Ok, so what should I do?</h3>
            <p><%= @whattodo %></p>
         </div>
<!----------------------------- Mobile Friendly? -------------------------------->         
        <div class="well white alwaysbreak">
          <h1 class="bordered ">Is your website easy to read on mobile?</h1>
            <% if @mobile == 'yes' %>
             <%= render 'friendly' %>
            <%else%>
             <%= render 'notfriendly' %>
            <%end%> 
            
        </div> 
<!----------------------------- Speed -------------------------------->         
        <div class="well white alwaysbreak">
          <h1 class="bordered">Is your website fast enough?</h1>
            <% if @speed > 3 %>
              <%= render 'slow' %>
            <%else%>
             <%= render 'fast' %>
            <%end%>
        </div>
      <div class="well white">
        <h1 class="bordered">Found this at all useful?</h1>
        <p>Do me a favour and let me know that you did by answering one question.
        <br><br>
        <b>What's your biggest frustration when it comes to your website in the context of your business?</b>
        </p>
        <%=link_to'CLICK TO ANSWER', 'https://www.surveymonkey.com/r/2Y7LH3G', target:"_blank", class:"btn btn-lg btn-danger btn-block"%>
      </div>    
      <div class="well white">
        <h1 class="bordered">Resources:</h1>
        <ul>
          <li class="text-muted"><%=link_to'https://blog.kissmetrics.com/homepages-vs-landing-pages/'%></li>
          <li class="text-muted"><%=link_to'https://blog.kissmetrics.com/conversion-rate-conundrum/'%></li>
          <li class="text-muted"><%=link_to'https://www.go-globe.hk/blog/mobile-vs-desktop-internet-usage/'%></li>
          <li class="text-muted"><%=link_to'https://blog.kissmetrics.com/loading-time/'%></li>
          <li class="text-muted"><%=link_to'https://www.tributemedia.com/blog/you-have-7-seconds-what-a-visitor-should-know-about-your-website-within-moments'%></li>
          <li class="text-muted"><%=link_to'https://www.crazyegg.com/blog/why-users-leave-a-website/'%></li>
          <li class="text-muted"><%=link_to 'Eben Pagan' ,'https://ebenpagantraining.com/'%> from whom we initially got the idea </li>
        </ul>
      </div>



      </div>
    </div>
  </div>
</div>  
