<!DOCTYPE html>
<html>
  <head>
    <title>Get more clients</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  </head>

  <body class="">
   <%= render "pages/landing"%>
      <!-- Content -->
    
      
<div class ="container-fluid">
  
      <section id = "section03">
        
          <%= render "pages/content"%>
    </section>
 </div>
 
   <%= render "pages/footer"%>
    <%= yield %>

  </body>
</html>
